<html>

<head>

</head>

<body>

    <h1>Welcome to the Login Page</h1>

    <form action="signinsubmit" method="GET">
        Email ID: <input type="text" name="emil"> <br>
        Password: <input type="password" name="passwprd"> <br>
        <input type="submit">


    </form>


</body>

</html>